.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;

  height: 34px;
  width: 251px;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid #b2b2b2;

  img {
    margin: 10px 0 10px 10px;
  }
}

.search__input {
  height: 100%;
  width: 100%;
  border: none;
  padding-right: 38px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 0 8px 8px 0;

  &::placeholder {
    color: $gray-light;
    font-style: italic;
  }
}

.search__delete {
  position: absolute;
  right: 10px;
  margin-right: 10px;
  cursor: pointer;
}
